doctype html
html(lang="es")

    head
        title=titulo
    body
        h1
            a(href="http://tienda_de_fruta.com") tienda de frutas
        div
            p Nuestra tienda de fruta tiene selectas delicias en la internet,satisfaccion 100% garantizada

            img(src="./smile.png")

        h2 Nuestras frutas
        ul
            li manzana
            li pera
            li aguacate
            li=fruta
